<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PathFile" value="F:\\File\\" />
    <add key="FormatterFile" value="Info.log" />
    <add key="LogFile" value="F:\\Logs\\" />
    <add key="LogFileName" value="Info.log" />
    <add key="backend" value="SqlServer" />
    <add key="backendSL" value="File" />
    <add key="DALAssembly" value="DLL.dll" />
    <add key="BLLAssembly" value="BLL.dll" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=MARITO\SQLEXPRESS;Initial Catalog=CincoTreceArena;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>